@font-face {
    font-family: 'Akzidenz-Grotesk Next ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Akzidenz-Grotesk Next ExtraBold Italic'), url('Akzidenz Grotesk Next ExtraBold Italic.woff') format('woff');
}